{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="O que está procurando...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% if receitas %}
                    {% for receita in receitas %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="Imagem da receita">
                            <div class="receipe-content">
                                <a href="{% url 'receita' receita.id %}">
                                    <h5>{{ receita.nome_receita }}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Nenhuma receita encontrada.</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}