{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="receipe-post-area section-padding-80">
        <div class="receipe-content-area">
            <div class="container">
                <!-- Layout com foto à esquerda e informações à direita -->
                <div class="receipe-details">
                    <!-- Coluna da imagem -->
                    <div class="image-column">
                        {% if receita.imagem %}
                            <img src="/{{ receita.imagem }}" alt="Imagem da receita">
                        {% else %}
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="Imagem padrão">
                        {% endif %}
                    </div>
                    
                    <!-- Coluna das informações -->
                    <div class="info-column">
                        <div class="receipe-headline my-5">
                            <span>{{ receita.data_receita }}</span> 
                            <h2>{{ receita.nome_receita }}</h2>
                        </div>

                        <div class="receipe-duration">
                            <h6>Tempo: {{ receita.tempo_preparo }} minutos</h6>
                            <h6>Rendimento: {{ receita.rendimento }} porções</h6>
                        </div>

                        <div class="single-preparation-step">
                            <h4>Preparo</h4> 
                            <p>{{ receita.modo_preparo }}</p>
                        </div>

                        <div class="ingredients">
                            <h4>Ingredientes</h4>
                            <p>{{ receita.ingredientes }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- seção de receitas recomendadas -->
            <div class="recipe-card-page-receita">
                <h3>Talvez você possa se interessar</h3>
                <div class="recipe-card-row-receita">
                    {% for outra_receita in outras_receitas %}
                        <div class="recipe-card-column-receita">
                            <div class="recipe-card-receita">
                                <a href="{% url 'receita' outra_receita.id %}">
                                    {% if outra_receita.imagem %}
                                        <img src="/{{ outra_receita.imagem }}" alt="Imagem da receita" class="recipe-card-image-receita">
                                    {% else %}
                                        <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="Imagem padrão" class="recipe-card-image-receita">
                                    {% endif %}
                                    <div class="recipe-card-info-receita">
                                        <h4>{{ outra_receita.nome_receita }}</h4>
                                        <p>{{ outra_receita.tempo_preparo }} minutos - {{ outra_receita.rendimento }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% empty %}
                        <p>Não há outras receitas para mostrar no momento.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
