{% load static %}

<footer class="footer-area">
    <div class="container">
        <div class="footer-links">
            <div class="footer-column">
                <h5>Sobre Nós</h5>
                <p>Oferecemos as melhores receitas para satisfazer seu paladar. Buscamos qualidade e excelência!</p>
            </div>
            <div class="footer-column">
                <h5>Dúvidas Gerais</h5>
                <ul style="list-style: none; padding-left: 0;">
                    <li><a href="https://www.letras.mus.br/pineapple/sobre-nos-poesia-acustica-2/" target="_blank">Sobre</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h5>Redes Sociais</h5>
                <div class="footer-social-info">
                    <a href="https://www.facebook.com/?locale=pt_BR" target="_blank">Facebook</a>
                    <a href="https://www.instagram.com/" target="_blank">Instagram</a>
                    <a href="https://x.com/?lang=pt" target="_blank">Twitter</a>
                </div>
            </div>
        </div>
    </div>
</footer>