{% load static %}
<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
            <!-- Navbar Area -->
            <div class="delicious-main-menu">
                <div class="classy-nav-container">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar" id="deliciousNav">
                            <!-- Logo -->
                            <a class="nav-brand" href="{% url 'index' %}">
                                <img src="{% static 'img/core-img/logo.png' %}" alt="Logo Delícia Mania" width="250">
                            </a>
                            <div class="classy-menu">
                                <!-- Navigation -->
                                <div class="classynav">
                                    <ul class="menu-items">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Perfil</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->